@import '../../_var.css';

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--white);
  border: 1px solid #e4e4e4;
  box-shadow:  0 4px 14px 7px rgba(121, 121, 121, 0.05);
  border-radius: 4px;
  width: 191px;
  height: 352px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 2rem;
}
.product:hover {
  transform: scale(1.04, 1.04)
}
.product .name {
  font-size: var(--medium);
  color: var(--darkGrey);
  padding: 0 23px;
}

.product .price {
  color: var(--darkYellow);
  font-size: 20px;
  font-weight: var(--semibold);
  margin-top: auto;
}
.product img {
  height: 176px;
  width: 176px;
}

